<section id="changePassword" class="rounded-3">
    <div class="container">
        <div class="mx-auto">
            <div class="card-cahange">
                <div class="text-center">
                    <img src="../../../assets/images/logo.svg" alt="logo" class="w-75 mb-3">
                </div>
                <h5 class="text-second ">Change Your Password</h5>
                <p class="text-second">Enter your details below</p>

                <form [formGroup]="changeForm" (ngSubmit)="onChangeSubmit(changeForm)">
                    <div class="input-group mb-3 w-100">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                        <input formControlName="oldPassword" [type]="hideOld? 'password':'text'" class="form-control"
                            placeholder="Enter Old Password" aria-label="oldPassword" aria-describedby="basic-addon1">
                        <span class="eye-icon" (click)="hideOld=!hideOld"><i class="fa-solid"
                                [class]="hideOld?'fa-eye-slash':'fa-eye'"></i></span>
                    </div>
                    <div class="alert alert-danger p-2"
                        *ngIf="changeForm.controls.oldPassword.errors && changeForm.controls.oldPassword.touched">
                        <p *ngIf="changeForm.get('oldPassword')?.getError('required')" class="mb-0">Old Password Is Required</p>
                        <p *ngIf="changeForm.get('oldPassword')?.getError('pattern')" class="mb-0">Please must have A,a ,@,%,$,#,
                            From 8 , 16</p>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                        <input formControlName="newPassword" [type]="hideNew? 'password':'text'" class="form-control"
                            placeholder="Enter New Password" aria-label="newPassword" aria-describedby="basic-addon1">
                        <span class="eye-icon" (click)="hideNew=!hideNew"><i class="fa-solid"
                                [class]="hideNew?'fa-eye-slash':'fa-eye'"></i></span>
                    </div>
                    <div class="alert alert-danger p-2"
                        *ngIf="changeForm.controls.newPassword.errors && changeForm.controls.newPassword.touched">
                        <p *ngIf="changeForm.get('newPassword')?.getError('required')" class="mb-0">New Password Is Required</p>
                        <p *ngIf="changeForm.get('newPassword')?.getError('pattern')" class="mb-0">Please must have A,a ,@,%,$,#,
                            From 8 , 16</p>
                    </div>

                    <div class="input-group w-100 mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                        <input formControlName="confirmNewPassword" [type]="hideConfirm? 'password':'text'"
                            class="form-control" placeholder="Confirm New Password" aria-label="confirmNewPassword"
                            aria-describedby="basic-addon1">
                        <span class="eye-icon" (click)="hideConfirm=!hideConfirm"><i class="fa-solid"
                                [class]="hideConfirm?'fa-eye-slash':'fa-eye'"></i></span>
                    </div>
                    <div class="alert alert-danger p-2"
                        *ngIf="changeForm.controls.confirmNewPassword.errors && changeForm.controls.confirmNewPassword.touched">
                        <p *ngIf="changeForm.get('confirmNewPassword')?.getError('required')" class="mb-0">Confirm New Password Is
                            Required</p>
                            <p *ngIf="changeForm.get('confirmNewPassword')?.getError('invalid')" class="mb-0">Password And Confirm Password Not Match</p>
                    </div>

                    <button [disabled]="changeForm.invalid" class="primary w-100 ">Change Password</button>

                </form>

            </div>
        </div>
    </div>
</section>