
  .card-cahange {
    background-color: #fff;
    padding: 0rem 4.5rem 2rem 4.5rem;
    margin-top: 10px;
    h2: 
  {
      color: #494949;
    }
  
    p {
      color: rgba(73, 73, 73, 0.60);
    }
  
    input,
    select,
    textarea {
      background-color: #f7f7f7 !important;
    }
  
    i {
      color: #494949;
    }
  
    a {
      cursor: pointer;
    }
  
    .eye-icon {
      position: absolute;
      top: 50%;
      right: 5%;
      z-index: 100;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      cursor: pointer;
    }
  
    button {
      border: none;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      padding: 10px 15px;
  
      &.primary {
        background-color: #4AA35A;
        color: #fff;
  
        &:hover {
          opacity: 0.8;
        }
      }
  
      &.outline-primary {
        border: 1px solid #4AA35A;
        color: #4AA35A;
  
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
