#home{
    background-image: url(../../../assets/images/header-bg-svg.svg);
    background-size: cover;
    background-position: center center;
    border-radius: 15px;
    color: #fff;
    background-color: #009247;
}

.primary {
    background-color: #009247;
    color: #fff;
}