<section id="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div>
                    <h2>Welcome {{userName}}</h2>
                    <p>This is a welcoming screen for the entry of the application , <br> you can now see the options</p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <img src="../../../assets/images/home-avatar.svg" class="w-100" alt="home-avatar">
                </div>
            </div>
        </div>
    </div>
</section>
