<!-- <img src="../../../assets/images/notfound.jpg" alt="notfound" class="w-100 h-100"> -->

<section class="notfound h-100 w-100">
  <div class="logo p-5">
    <img src="../../../assets/images/logo-.svg" alt="">
  </div>
  <div class="conent p-5 ">
    <h2 class="fw-bold">Oops.... </h2>
    <h4 class="text-main">Page  not found </h4>
    <p>This Page doesn’t exist or was removed! <br> <span class="underText fw-bold">...</span>
      We suggest you  back to home.</p>
  </div>
  <div class="btn-content">
  <button routerLink="/dashboard" class="primary ms-5"> <i class="fa-solid fa-arrow-left mx-2"></i> Back To Home</button>
  </div>
</section>