
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.side {
    background-color: #1F263E;
    color: #fff;
    // width: 20%;
    border-top-right-radius: 10%;

    .links li {
        cursor: pointer;
    }
}

.navbar {
    background-color: #F8F9FB;
    color: #1F263E;
    padding: 10px;
    border-radius: 20px;

    .img-search{
        width: 40px;
        border-radius: 40%;
    }

    img{
        width: 20px;
        margin-left: 15px;
    }
}
.box-text{
    background-color: #009247;
    padding: 10px;
    border-radius: 10px;

    .span-text{
        color: #DFE0E0;
    }
}

.box-text-two{
    background-color: #F0FFEF;
    border-radius: 10px;
    .span-text-two{
        color: #009247;
    }
}

.text-color{
    color: #1F263E;
}

.bg-btn{
    background-color: #009247;
    color: #FFF;
    height: 50px;
    margin-top: 30px;
}