<section id="changePassword">
    <div class="container">
        <div class="rounded-3 p-3">
            <div class="text-end">
                <i class="pi pi-times cursor" (click)="onNoClick()"></i>
            </div>
            <div class="text-center">
                <img src="../../../../../assets/images/logo.svg" class="w-25" alt="logo">
            </div>
            <h2 class="m-0">Change Your Password</h2>
            <p class="text-mainColor">Enter your details below</p>

            <form [formGroup]="changeForm" (ngSubmit)="onSubmitForm(changeForm)">
                <div class="row gy-2">
                    <div class="flex flex-column md:flex-row gap-3">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-lock"></i>
                            </span>
                            <input pInputText formControlName="oldPassword" placeholder="Old Password" name="password"
                                [type]="hideOld?'password':'text'" />
                            <span class="p-inputgroup-addon cursor" (click)="hideOld =! hideOld">
                                <i class="fa-regular" [class]="hideOld?'fa-eye-slash':'fa-eye'"></i>
                            </span>
                        </div>
                        <div class="alert alert-danger p-2 m-0"
                            *ngIf="changeForm.controls.oldPassword.errors && changeForm.controls.oldPassword.touched">
                            <p class="mb-0" *ngIf="changeForm.get('oldPassword')?.getError('required')">
                                old Password Is Required</p>
                            <p class="mb-0" *ngIf="changeForm.get('oldPassword')?.getError('pattern')">Please
                                must have A,a ,%,$,# .. From 8 , 16</p>
                        </div>
                    </div>

                    <div class="flex flex-column md:flex-row gap-3">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-lock"></i>
                            </span>
                            <input pInputText formControlName="newPassword" placeholder="New Password"
                                name="confirm-password" [type]="hidePassword?'password':'text'" />
                            <span class="p-inputgroup-addon cursor" (click)="hidePassword =! hidePassword">
                                <i class="fa-regular" [class]="hidePassword?'fa-eye-slash':'fa-eye'"></i>
                            </span>
                        </div>
                        <div class="alert alert-danger p-2 m-0"
                            *ngIf="changeForm.controls.newPassword.errors && changeForm.controls.newPassword.touched">
                            <p class="mb-0" *ngIf="changeForm.get('newPassword')?.getError('required')">
                                New Password Is Required</p>
                            <p class="mb-0" *ngIf="changeForm.get('newPassword')?.getError('pattern')">
                                Please must have A,a ,%,$,# .. From 8 , 16</p>
                        </div>
                    </div>

                    <div class="flex flex-column md:flex-row gap-3">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-lock"></i>
                            </span>
                            <input pInputText formControlName="confirmNewPassword" placeholder="Confirm New Password"
                                name="confirm-password" [type]="hideConfirm?'password':'text'" />
                            <span class="p-inputgroup-addon cursor" (click)="hideConfirm =! hideConfirm">
                                <i class="fa-regular" [class]="hideConfirm?'fa-eye-slash':'fa-eye'"></i>
                            </span>
                        </div>
                        <div class="alert alert-danger p-2 m-0"
                            *ngIf="changeForm.controls.confirmNewPassword.errors && changeForm.controls.confirmNewPassword.touched">
                            <p class="mb-0" *ngIf="changeForm.get('confirmNewPassword')?.getError('required')">
                                Confirm New Password Is Required</p>
                            <p class="mb-0" *ngIf="changeForm.get('confirmNewPassword')?.getError('invalid')">
                                New Password And Confirm New Password Not Match</p>
                        </div>
                    </div>

                    <div class="text-center">
                        <button class="btn bg-secondColor text-white w-50 mt-2" *ngIf="isLoading==false">Change Password</button>
                        <button class="btn bg-secondColor text-white w-100" *ngIf="isLoading==true">
                            <i class="fa fa-refresh fa-spin"></i> Loading...
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>