<section class="p-3">
    <div class="text-end">
        <i class="pi pi-times cursor" (click)="onNoClick()"></i>
    </div>
    <div class="text-center">
        <img src="../../../../assets/images/logo-.svg" class="w-50 mb-2" alt="logo">
    </div>
    <h3 class="m-0">Logout From FOOD</h3>
    <p>are you sure you want to Exit ? if you are sure just click on Logout it</p>
    <div class="text-center">
        <button class="btn outline-primary w-25" (click)="onNoClick()">NO</button>
        <button class="btn primary mx-2 w-25" (click)="logOut()">YES</button>
    </div>
</section>