<section id="resetPassword" class="vh-100">
    <div class="food-content">
        <div class="container food-box reset-box">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card rounded-3 px-4 py-3">
                        <div class="text-center">
                            <img src="../../../../../assets/images/logo.svg" class="w-25" alt="">
                        </div>
                        <h2 class="mb-0"> Reset Password</h2>
                        <p class="text-mainCOlor">Please Enter Your Otp or Check Your Inbox</p>

                        <form [formGroup]="resetForm" (ngSubmit)="onSubmitForm(resetForm)">
                            <div class="row gy-2">
                                <div class="flex flex-column md:flex-row gap-3">
                                    <div class="p-inputgroup">
                                        <span class="p-inputgroup-addon">
                                            <i class="pi pi-user"></i>
                                        </span>
                                        <input pInputText formControlName="email" placeholder="Email" name="email" />
                                    </div>
                                    <div class="alert alert-danger p-2 m-0"
                                        *ngIf="resetForm.controls.email.errors && resetForm.controls.email.touched">
                                        <p class="mb-0" *ngIf="resetForm.get('email')?.getError('required')">Email Is
                                            Required
                                        </p>
                                        <p class="mb-0" *ngIf="resetForm.get('email')?.getError('email')">Email Is
                                            Invalid
                                        </p>
                                    </div>
                                </div>

                                <div class="flex flex-column md:flex-row gap-3">
                                    <div class="p-inputgroup">
                                        <span class="p-inputgroup-addon">
                                            <i class="fa-solid fa-globe"></i>
                                        </span>
                                        <input pInputText formControlName="seed" placeholder="OTP" name="seed" />
                                    </div>
                                    <div class="alert alert-danger p-2 m-0"
                                        *ngIf="resetForm.controls.seed.errors && resetForm.controls.seed.touched">
                                        <p class="mb-0" *ngIf="resetForm.get('seed')?.getError('required')">seed Is
                                            Required
                                        </p>
                                        <p class="mb-0" *ngIf="resetForm.get('seed')?.getError('seed')">seed Is Invalid
                                        </p>
                                    </div>
                                </div>

                                <div class="flex flex-column md:flex-row gap-3">
                                    <div class="p-inputgroup">
                                        <span class="p-inputgroup-addon">
                                            <i class="pi pi-lock"></i>
                                        </span>
                                        <input pInputText formControlName="password" placeholder="Password"
                                            name="password" [type]="hidePassword?'password':'text'" />
                                        <span class="p-inputgroup-addon cursor" (click)="hidePassword =! hidePassword">
                                            <i class="fa-regular" [class]="hidePassword?'fa-eye-slash':'fa-eye'"></i>
                                        </span>
                                    </div>
                                    <div class="alert alert-danger p-2 m-0"
                                        *ngIf="resetForm.controls.password.errors && resetForm.controls.password.touched">
                                        <p class="mb-0" *ngIf="resetForm.get('password')?.getError('required')">
                                            Password Is Required</p>
                                        <p class="mb-0" *ngIf="resetForm.get('password')?.getError('pattern')">Please
                                            must have A,a ,%,$,# .. From 8 , 16</p>
                                    </div>
                                </div>

                                <div class="flex flex-column md:flex-row gap-3">
                                    <div class="p-inputgroup">
                                        <span class="p-inputgroup-addon">
                                            <i class="pi pi-lock"></i>
                                        </span>
                                        <input pInputText formControlName="confirmPassword"
                                            placeholder="Confirm Password" name="confirm-password"
                                            [type]="hideConfirm?'password':'text'" />
                                        <span class="p-inputgroup-addon cursor" (click)="hideConfirm =! hideConfirm">
                                            <i class="fa-regular" [class]="hideConfirm?'fa-eye-slash':'fa-eye'"></i>
                                        </span>
                                    </div>
                                    <div class="alert alert-danger p-2 m-0"
                                        *ngIf="resetForm.controls.confirmPassword.errors && resetForm.controls.confirmPassword.touched">
                                        <p class="mb-0" *ngIf="resetForm.get('confirmPassword')?.getError('required')">
                                            Confirm Password Is Required</p>
                                        <p class="mb-0" *ngIf="resetForm.get('confirmPassword')?.getError('invalid')">
                                            Password And Confirm Password Not Match</p>
                                    </div>
                                </div>

                                <button class="btn bg-secondColor text-white w-100" *ngIf="isLoading==false">Reset
                                    Password</button>
                                <button class="btn bg-secondColor text-white w-100" *ngIf="isLoading==true">
                                    <i class="fa fa-refresh fa-spin"></i> Loading...
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>