<div id="navbar">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <img src="../../../assets/images/logo.svg" alt="logo-admin" class="w-25 rounded-circle">
      </div>
      <div class="col-md-3  cursor">
        <div class="user-profile d-flex align-items-center" *ngIf="currentUser">
          <div class="userAvatar mx-2">
            <img *ngIf="currentUser.imagePath" [src]="'https://upskilling-egypt.com/'+currentUser.imagePath" alt="logo-admin"
              class="w-100 rounded-circle">
            <img *ngIf="!currentUser.imagePath" src="../../../assets/images/profile.jpg" alt="logo-admin"
              class="w-100 rounded-circle">
          </div>
          <span>
            <span class="h6">{{currentUser.userName}}</span>
            <span class="d-block text-muted">{{currentUser.group.name}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="profile" class="my-3">
    <div class="container">
      <div class="row">
        <div class="col-md-11">
            <div class="ms-5">
              <h3>Update Profile </h3>
            <p class="text-second">Welcome Back! Please enter your details</p>
            </div>
            <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
              <div class="row justify-content-between">
                <div class="col-md-5 ms-5">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                    <input formControlName="userName" type="text" class="form-control" placeholder="User Name"
                      aria-label="userName" aria-describedby="basic-addon1">
                  </div>
                  <div class="alert alert-danger p-2" *ngIf="userForm.controls.userName.errors && userForm.controls.userName.touched">
                    <p *ngIf="userForm.get('userName')?.getError('required')" class="mb-0">User Name Is Required</p>
                    <p class="h6" *ngIf="userForm.get('userName')?.getError('pattern')" class="mb-0">The User Name Must Be Contain Characters And End With Numbers Without Space. </p>
                  </div>
                </div>

                <div class="col-md-5 me-5">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
                    <input formControlName="email" type="text" class="form-control" placeholder="Enter Your Email"
                      aria-label="email" aria-describedby="basic-addon1">
                  </div>
                  <div class="alert alert-danger p-2" *ngIf="userForm.controls.email.errors && userForm.controls.email.touched">
                    <p *ngIf="userForm.get('email')?.getError('required')" class="mb-0">Email Is Required</p>
                    <p *ngIf="userForm.get('email')?.getError('email')" class="mb-0">Email Is Invalid</p>
                  </div>
                </div>

                <div class="col-md-5 ms-5">
                  <div class="input-group mb-3 position-relative">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-globe"></i></span>
                    <input formControlName="country" [type]="hide?'country':'text'" class="form-control" placeholder="Country"
                      aria-label="country" aria-describedby="basic-addon1">
                      
                  </div>
                  <div class="alert alert-danger p-2" *ngIf="userForm.controls.country.errors && userForm.controls.country.touched">
                    <p *ngIf="userForm.get('country')?.getError('required')" class="mb-0">country Is Required</p>
                  </div>
                </div>

                <div class="col-md-5 me-5">
                  <div class="input-group mb-3 position-relative">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-mobile-screen-button"></i></span>
                    <input formControlName="phoneNumber" [type]="hide?'phoneNumber':'text'" class="form-control" placeholder="Phone Number"
                      aria-label="phoneNumber" aria-describedby="basic-addon1">
                      
                  </div>
                  <div class="alert alert-danger p-2" *ngIf="userForm.controls.phoneNumber.errors && userForm.controls.phoneNumber.touched">
                    <p *ngIf="userForm.get('phoneNumber')?.getError('required')" class="mb-0">Phone Number Is Required</p>
                    <p *ngIf="userForm.get('phoneNumber')?.getError('pattern')" class="mb-0">Phone Number Is Required</p>
                  </div>
                </div>


                <div class="col-md-5 ms-5">
                  <div class="input-group mb-3 position-relative">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                    <input formControlName="confirmPassword" [type]="hideConfirm?'password':'text'" class="form-control" placeholder="Confirm Password"
                      aria-label="confirmPassword" aria-describedby="basic-addon1">
                      <span class="eye-icon" (click)="hideConfirm=!hideConfirm"><i class="fa-solid" [class]="hideConfirm?'fa-eye-slash':'fa-eye'"></i></span>
                  </div>
                  <div class="alert alert-danger p-2" *ngIf="userForm.controls.confirmPassword.errors && userForm.controls.confirmPassword.touched">
                    <p *ngIf="userForm.get('confirmPassword')?.getError('required')" class="mb-0">Confirm Password Is Required</p>
                    <p *ngIf="userForm.get('confirmPassword')?.getError('invalid')" class="mb-0">Password And Confirm Password Not Match</p>
                  </div>
                </div>

                <div class="col-md-11 ms-5">
                  <ngx-dropzone (change)="onSelect($event)" [multiple]="false">
                    <ngx-dropzone-label *ngIf="!imgSrc">
                      <i class="fa-solid fa-arrow-up-from-bracket d-block"></i>
                    Drag & Drop or <span class="text-main">Choose a Item Image</span> to Upload
                    </ngx-dropzone-label>
                    <ngx-dropzone-label *ngIf="imgSrc">
                      <img [src]="imgSrc" class="avatar rounded-circle" alt="">
                    </ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                      [removable]="true" (removed)="onRemove(f)">
                      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-image-preview>
                  </ngx-dropzone>
                </div>

                <div class="col-md-11  text-center my-3">
                  <button [routerLink]="['/dashboard']" type="button" class="btn btn-danger mx-3 w-25">Cancel</button>
                  <button class="btn btn-success w-25">Save</button>
                </div>

              </div>
              
              
            </form>
  
          </div>
        </div>
      </div>
</section>