<section id="notfound">
    <div class="container-fluid">
        <img src="../../../../assets/images/logo.svg" alt="logo" class="w-25">

        <div class="d-flex mt-5">
            <div class="mt-5">
                <h3>Oops.</h3>
                <h4>Page not found </h4>
                <p class="w-75 text-mainColor">This Page doesn’t exist or was removed!
                    We suggest you back to home.</p>
                <button class="btn bg-mainColor px-5 py-3 text-white"><i class="fa-solid fa-arrow-left mx-2"></i>Back To Home</button>
            </div>
        </div>
    </div>
</section>